.menu-button {
  border: .05rem solid rgb(209, 209, 209);
  background-color: transparent;
  cursor: pointer;
  padding: 4px 8px;
}

.menu-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-button i {
  padding-right: 5px;
  color: 
}

.menu-button span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
